Package: com.tomaszpoliszuk.flipswitchhearingaidcompability
Depends: firmware (>= 9.0), mobilesubstrate, com.a3tweaks.flipswitch
Name: Flipswitch - Hearing Aid Compability
Version: 1.0
Architecture: iphoneos-arm
Description: Flipswitch Toggle for Hearing Aid Compability
Maintainer: BigBoss
Author: Tomasz Poliszuk
Sponsor: thebigboss.org <http://thebigboss.org>
Section: Addons (Flipswitch)
dev: tomaszpoliszuk
